
<h2>Edit new Category</h2>

<%= form_with model: @category, url: category_update_path do |form|  %>

  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <div> <span><%= message %></span> </div>
    <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "@category" %>
  </div>

  <div>
    <div>
      <span> <%= form.submit "update" %> </span>
      <span> <%= link_to "cancel", category_show_path(@category) %> </span>
    </div>
    <div>
      <span> <%= link_to "home", root_path %> </span>
    </div>
  </div>
<% end %>
