<h2>Category list</h2>
<%= link_to "create new category", category_new_path %>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_show_path(category) %></li>
  <% end %>
</ul>

<%# <table> %>
<%#   <thead> %>
<%#     <tr> %>
<%#       <th>Category</th> %>
<%#     </tr> %>
<%#   </thead> %>
<%#   <tbody> %>
<%#     <% @categories.each do |category| %1> %>
<%#     <tr> %>
<%#       <td><%= category[:name] %1></td> %>
<%#       <td> <%= link_to "edit", category_edit_path(category) %1> </td> %>
<%#       <td> <%= button_to "delete", category_delete_path(category), method: :delete %1> </td> %>
<%#     </tr> %>
<%#     <% end %1> %>
<%#   </tbody> %>
<%# </table> %>


